@{
    Layout = null;
    ViewBag.Title = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/SearchPage")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>