<!--<link href="~/Content/Localization.css" rel="stylesheet" />-->

<section id="Localization-Area">
    <div id="Localization-Countries-Container">
        @Html.ActionLink(" ", "Index", new { @lang = "sv-SE" }, new { @class = "Localization-Language Swedish" })
        @Html.ActionLink(" ", "Index", new { @lang = "en-GB" }, new { @class = "Localization-Language English" })
        @Html.ActionLink(" ", "Index", new { @lang = "fr-FR" }, new { @class = "Localization-Language French" })
    </div>
</section>